In [3]:
# Load library
import pandas as pd

In [ ]:


# create URL
url = 'https://tinyurl.com/titanic-csv'

In [ ]:

# Load data as a dataframe
dataframe = pd.read_csv(url)

In [2]:

# Show first 5 rows
print(dataframe.head(5))

In [ ]:

#Show dimensions
print('dataframe: ',dataframe.shape)

In [ ]:

#Show statistics
print('Statistics: ',dataframe.describe())

In [ ]:

# Select first row
print(dataframe.iloc[0])

In [ ]:

# Select first three
print(dataframe.iloc[1:4])

In [ ]:

# Show top two rows where column 'sex' is 'female'
print(dataframe[dataframe['Sex']=='female'].head(5))

In [ ]:

# Rename column, show two rows
dataframe.rename(columns={'PClass': 'Passenger Class'}).head(2)
print(dataframe)

In [ ]:

# Calculate statistics
print('Max:',dataframe['Age'].max())
print('Min:',dataframe['Age'].min())
print('Mean:',dataframe['Age'].mean())
print('Sum:',dataframe['Age'].sum())
print('Count:',dataframe['Age'].count())

In [ ]:

# Select unique values
print('Unique values:',dataframe['Sex'].unique())

In [1]:

# Show unique counts
print(dataframe['Sex'].value_counts())